@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Impact;
		src: local('Impact'), local('impact'), url('/fonts/Impact.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: GloryBold;
		src: local('Glory-Bold'), local('glory-bold'), url('/fonts/Glory-Bold.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: GloryBoldItalic;
		src: local('Glory-BoldItalic'), local('glory-bolditalic'), url('/fonts/Glory-BoldItalic.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: GloryItalic;
		src: local('Glory-Italic'), local('gloryItalic'), url('/fonts/Glory-Italic.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: GloryRegular;
		src: local('Glory-Regular'), local('glory-regular'), url('/fonts/Glory-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
}
@layer components {
	.accent-button {
		@apply inline-flex items-center mt-4 px-4 py-2 border border-transparent text-xl font-semibold rounded-xl shadow-sm text-red-200 bg-red-800 hover:bg-red-900 hover:text-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 uppercase gloryItalic;
	}

	html {
		font-family: GloryRegular, GloryItalic, 'Arial Narrow Bold', sans-serif;
		background: transparent linear-gradient(180deg, #232b5b 10%, #05060b 90%) 0 0 no-repeat
			padding-box;
		color: white;
		min-height: 100%;
	}
	.gloryItalic {
		font-family: GloryItalic, GloryRegular, 'Arial Narrow Bold', sans-serif;
	}
	input[type='text'] {
		color: white;
		background-color: rgb(31, 41, 55);
		border-width: 2px;
		--tw-border-opacity: 1;
		border-color: rgba(209, 213, 219, 0.3);
	}
}
